@charset "utf-8";

/* main-page text ani */
@keyframes text-down {
  0% {
    opacity: 0;
    margin-top: -30%;
  } 100% {
    opacity: 1;
    margin-top: 0;
  }
}
/* main-page 푸르넷 svg 색상 변경  */
@keyframes slide-over {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(100%);
  }
}

/* 반짝임 애니 */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line-mov */
@keyframes line-mov1 {
  0% {
    margin-left: 0;
  } 100% {
    margin-left: 150px;
  }
}
@keyframes line-mov2 {
  0% {
    margin-left: 0;
  } 100% {
    margin-left: 100px;
  }
}
@keyframes line-mov3 {
  0% {
    margin-right: 0;
  } 100% {
    margin-right: 150px;
  }
}

/* main svg 컬러 변경 */
@keyframes svg-blue {
  100% {
    fill : #4CBEED;
  }
}
@keyframes svg-pink {
  100% {
    fill : var(--cont7-bgColor2);
  }
}
@keyframes svg-green {
  100% {
    fill : var(--primary-color);
  }
}
@keyframes svg-lightblue {
  100% {
    fill : #BDE7F9;
  }
}
@keyframes svg-red {
  100% {
    fill : #E84660;
  }
}
@keyframes mov-box {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(15%);
  }
}

/* svg 차례대로 움직임 */
@keyframes drawing {
  0% {
    stroke-dashoffset: 500;
  } 100% {
    stroke-dashoffset: 0;
  }
}
/* svg 바운스 효과 */
@keyframes drop-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  } 80% {
    opacity: 1;
    transform: translateY(0);
  } 90% {
    opacity: 1;
    transform: translateY(-10px);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* notice-btn svg ani */
@keyframes rotate {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(1turn);
  }
}