@charset "utf-8";

/* 
  font-family: "Playfair Display", serif; italic
  font-family: "Poppins", sans-serif; 400, 600
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;600&display=swap');

/* 변수 설정 */
:root {
  /* fonts */
  --sans-serif-fonts: "Poppins", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  --serif-fonts: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  /* swiper */
  --swiper-pagination-color: #2E2E27;
  --swiper-navigation-color: #2E2E27;
  --swiper-navigation-sides-offset: 0;

  /* font weight */
  --fonts-semibold : 600;

  /* colors */
  --primary-black: #2E2E27;
  --primary-darkblue: #151925;
  --primary-blue: #1C274C;
  --primary-gray10: #EEEEEE;
  --primary-gray30: #D9D9D9;

  /* border-radius */
  --primary-border-radius: 30px;
}
